In [31]:
import pandas as pd
import os
import functools as ft

In [32]:
# read unemployment data
data1 = "raw_data/unemployment_data1.csv"
data2 = "raw_data/unemployment_data2.csv"
data3 = "raw_data/unemployment_data3.csv"
data4 = "raw_data/unemployment_data4.csv"

df1 = pd.read_csv(unemployment_path1)
df2 = pd.read_csv(unemployment_path2)
df3 = pd.read_csv(unemployment_path3)
df4 = pd.read_csv(unemployment_path4)

# add dfs to a list for merging
dfs = [df1, df2, df3, df4]

df1

,Unnamed: 0,Australia ; Employed total ; Persons ;,Australia ; Employed total ; > Males ;,Australia ; Employed total ; > Females ;,Australia ; > Employed full-time ; Persons ;,Australia ; > Employed full-time ; > Males ;,Australia ; > Employed full-time ; > Females ;,Australia ; > Employed part-time ; Persons ;,Australia ; > Employed part-time ; > Males ;,Australia ; > Employed part-time ; > Females ;,...,>> Greater Melbourne ; Labour force total ; Persons ;,>> Greater Melbourne ; Labour force total ; > Males ;,>> Greater Melbourne ; Labour force total ; > Females ;,>> Greater Melbourne ; Participation rate ; Persons ;,>> Greater Melbourne ; Participation rate ; > Males ;,>> Greater Melbourne ; Participation rate ; > Females ;,>> Greater Melbourne ; Not in the labour force (NILF) ; Persons ;,>> Greater Melbourne ; Not in the labour force (NILF) ; > Males ;,>> Greater Melbourne ; Not in the labour force (NILF) ; > Females ;,>> Greater Melbourne ; Civilian population aged 15 years and over ; Persons ;
0,Unit,000,000,000,000,000,000,000,000,000,...,000,000,000,Percent,Percent,Percent,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,STOCK,STOCK,STOCK,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Jul-2020,12475.2,6595.4,5879.8,8567.4,5338.4,3229.0,3907.8,1257.0,2650.8,...,2760.9,1468.8,1292.1,65.3,70.8,60.0,1466.0,606.3,859.7,4226.9
358,Aug-2020,12572.4,6618.7,5953.8,8516.7,5322.9,3193.8,4055.8,1295.8,2760.0,...,2722.2,1452.3,1270.0,64.4,69.9,59.0,1507.1,624.1,883.0,4229.3
359,Sep-2020,12583.0,6621.4,5961.5,8507.1,5300.8,3206.4,4075.8,1320.7,2755.1,...,2673.4,1429.0,1244.4,63.2,68.8,57.8,1558.3,648.5,909.8,4231.8
360,Oct-2020,12756.9,6737.2,6019.7,8608.2,5406.4,3201.8,4148.8,1330.8,2817.9,...,2753.6,1481.1,1272.4,65.0,71.2,59.0,1481.2,598.0,883.2,4234.8
361,Nov-2020,12909.0,6813.8,6095.3,8760.7,5478.8,3281.9,4148.4,1335.0,2813.3,...,2842.4,1508.7,1333.7,67.1,72.5,61.8,1395.4,572.1,823.3,4237.8

In [39]:
# merge all dataframes
# https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns
df_final = ft.reduce(lambda left,right: pd.merge(left,right,on='Unnamed: 0'), dfs)
df_final.head(10)

,Unnamed: 0,Australia ; Employed total ; Persons ;,Australia ; Employed total ; > Males ;,Australia ; Employed total ; > Females ;,Australia ; > Employed full-time ; Persons ;,Australia ; > Employed full-time ; > Males ;,Australia ; > Employed full-time ; > Females ;,Australia ; > Employed part-time ; Persons ;,Australia ; > Employed part-time ; > Males ;,Australia ; > Employed part-time ; > Females ;,...,> Australian Capital Territory ; Labour force total ; > Females ;,> Australian Capital Territory ; Participation rate ; Persons ;,> Australian Capital Territory ; Participation rate ; > Males ;,> Australian Capital Territory ; Participation rate ; > Females ;,> Australian Capital Territory ; Not in the labour force (NILF) ; Persons ;,> Australian Capital Territory ; Not in the labour force (NILF) ; > Males ;,> Australian Capital Territory ; Not in the labour force (NILF) ; > Females ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; Persons ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; > Males ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; > Females ;
0,Unit,000,000,000,000,000,000,000,000,000,...,000,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,STOCK,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,Series Start,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,...,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991,Jul-1991
6,Series End,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,...,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020,Nov-2020
7,No. Obs,353,353,353,353,353,353,353,353,353,...,353,353,353,353,353,353,353,353,353,353
8,Series ID,A84595103J,A84594578V,A84595628X,A84595101C,A84594576R,A84595626V,A84595102F,A84594577T,A84595627W,...,A84595947J,A84595427C,A84594902K,A84595952A,A84595423V,A84594898F,A84595948K,A84595424W,A84594899J,A84595949L
9,Jul-1991,7583.0,4398.2,3184.8,5900.9,4007.4,1893.5,1682.1,390.8,1291.2,...,71.0,72.5,81.6,63.9,59.4,19.3,40.0,216.1,105.1,111.0

In [43]:
# delete first 9  rows of data
df_clean = df_final.iloc[9:]
df_clean

,Unnamed: 0,Australia ; Employed total ; Persons ;,Australia ; Employed total ; > Males ;,Australia ; Employed total ; > Females ;,Australia ; > Employed full-time ; Persons ;,Australia ; > Employed full-time ; > Males ;,Australia ; > Employed full-time ; > Females ;,Australia ; > Employed part-time ; Persons ;,Australia ; > Employed part-time ; > Males ;,Australia ; > Employed part-time ; > Females ;,...,> Australian Capital Territory ; Labour force total ; > Females ;,> Australian Capital Territory ; Participation rate ; Persons ;,> Australian Capital Territory ; Participation rate ; > Males ;,> Australian Capital Territory ; Participation rate ; > Females ;,> Australian Capital Territory ; Not in the labour force (NILF) ; Persons ;,> Australian Capital Territory ; Not in the labour force (NILF) ; > Males ;,> Australian Capital Territory ; Not in the labour force (NILF) ; > Females ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; Persons ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; > Males ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; > Females ;
9,Jul-1991,7583.0,4398.2,3184.8,5900.9,4007.4,1893.5,1682.1,390.8,1291.2,...,71.0,72.5,81.6,63.9,59.4,19.3,40.0,216.1,105.1,111.0
10,Aug-1991,7620.7,4398.6,3222.1,5902.2,3993.3,1908.9,1718.5,405.3,1313.2,...,70.5,71.7,80.4,63.4,61.3,20.6,40.7,216.5,105.3,111.2
11,Sep-1991,7713.2,4446.1,3267.1,5952.3,4025.2,1927.1,1760.9,420.9,1340.0,...,71.8,72.3,80.6,64.5,60.0,20.4,39.6,216.9,105.4,111.4
12,Oct-1991,7638.0,4426.2,3211.7,5955.2,4034.2,1921.0,1682.7,392.0,1290.7,...,70.6,71.0,79.3,63.2,62.9,21.9,41.0,217.2,105.6,111.6
13,Nov-1991,7614.9,4408.3,3206.7,5853.8,3980.7,1873.2,1761.1,427.6,1333.5,...,70.3,70.7,78.9,62.9,63.7,22.3,41.5,217.5,105.7,111.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Jul-2020,12475.2,6595.4,5879.8,8567.4,5338.4,3229.0,3907.8,1257.0,2650.8,...,120.0,71.5,75.4,67.8,97.8,40.8,57.0,343.0,166.0,177.0
358,Aug-2020,12572.4,6618.7,5953.8,8516.7,5322.9,3193.8,4055.8,1295.8,2760.0,...,124.5,72.4,74.7,70.4,94.5,42.0,52.5,342.9,165.9,177.0
359,Sep-2020,12583.0,6621.4,5961.5,8507.1,5300.8,3206.4,4075.8,1320.7,2755.1,...,122.8,72.3,75.4,69.4,95.0,40.8,54.2,342.9,165.9,177.0
360,Oct-2020,12756.9,6737.2,6019.7,8608.2,5406.4,3201.8,4148.8,1330.8,2817.9,...,127.4,74.1,76.4,72.0,88.8,39.2,49.6,343.1,166.0,177.1
361,Nov-2020,12909.0,6813.8,6095.3,8760.7,5478.8,3281.9,4148.4,1335.0,2813.3,...,126.3,73.9,76.6,71.3,89.7,38.8,50.9,343.2,166.1,177.1