In [6]:
import pandas as pd
import numpy as np
import itertools
from builtins import str

In [7]:
# read data in
file_path = "../../output_data/clean_data/unemployment_clean.csv"
df = pd.read_csv(file_path) 
df

,Date,Month,Year,Australia ; Employed total ; Persons ;,Australia ; Employed total ; > Males ;,Australia ; Employed total ; > Females ;,Australia ; > Employed full-time ; Persons ;,Australia ; > Employed full-time ; > Males ;,Australia ; > Employed full-time ; > Females ;,Australia ; > Employed part-time ; Persons ;,...,> Australian Capital Territory ; Labour force total ; > Females ;,> Australian Capital Territory ; Participation rate ; Persons ;,> Australian Capital Territory ; Participation rate ; > Males ;,> Australian Capital Territory ; Participation rate ; > Females ;,> Australian Capital Territory ; Not in the labour force (NILF) ; Persons ;,> Australian Capital Territory ; Not in the labour force (NILF) ; > Males ;,> Australian Capital Territory ; Not in the labour force (NILF) ; > Females ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; Persons ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; > Males ;,> Australian Capital Territory ; Civilian population aged 15 years and over ; > Females ;
0,Jul-91,Jul,1991,7583.0,4398.2,3184.8,5900.9,4007.4,1893.5,1682.1,...,71.0,72.5,81.6,63.9,59.4,19.3,40.0,216.1,105.1,111.0
1,Aug-91,Aug,1991,7620.7,4398.6,3222.1,5902.2,3993.3,1908.9,1718.5,...,70.5,71.7,80.4,63.4,61.3,20.6,40.7,216.5,105.3,111.2
2,Sep-91,Sep,1991,7713.2,4446.1,3267.1,5952.3,4025.2,1927.1,1760.9,...,71.8,72.3,80.6,64.5,60.0,20.4,39.6,216.9,105.4,111.4
3,Oct-91,Oct,1991,7638.0,4426.2,3211.7,5955.2,4034.2,1921.0,1682.7,...,70.6,71.0,79.3,63.2,62.9,21.9,41.0,217.2,105.6,111.6
4,Nov-91,Nov,1991,7614.9,4408.3,3206.7,5853.8,3980.7,1873.2,1761.1,...,70.3,70.7,78.9,62.9,63.7,22.3,41.5,217.5,105.7,111.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,Jul-20,Jul,2020,12475.2,6595.4,5879.8,8567.4,5338.4,3229.0,3907.8,...,120.0,71.5,75.4,67.8,97.8,40.8,57.0,343.0,166.0,177.0
349,Aug-20,Aug,2020,12572.4,6618.7,5953.8,8516.7,5322.9,3193.8,4055.8,...,124.5,72.4,74.7,70.4,94.5,42.0,52.5,342.9,165.9,177.0
350,Sep-20,Sep,2020,12583.0,6621.4,5961.5,8507.1,5300.8,3206.4,4075.8,...,122.8,72.3,75.4,69.4,95.0,40.8,54.2,342.9,165.9,177.0
351,Oct-20,Oct,2020,12756.9,6737.2,6019.7,8608.2,5406.4,3201.8,4148.8,...,127.4,74.1,76.4,72.0,88.8,39.2,49.6,343.1,166.0,177.1
352,Nov-20,Nov,2020,12909.0,6813.8,6095.3,8760.7,5478.8,3281.9,4148.4,...,126.3,73.9,76.6,71.3,89.7,38.8,50.9,343.2,166.1,177.1

In [8]:
states = ["Australia", "New South Wales"]
          #"Victoria", "Queensland", "South Australia", "Tasmania", "Northern Territory", "Australian Capital Territory"]

In [9]:
for state in states:
    state_df = df[["Date","Month","Year",
                    f"{state} ;  Unemployment rate ;  Persons ;",
                   f"{state} ;  Unemployment rate ;  > Males ;",
                    f"{state} ;  Unemployment rate ;  > Females ;"
                   ]]
    
    state.str.replace('> ', '', regex=True)
    state_df.to_csv(f"{state} emp.csv", index = False)
    
       
    #date.append(df[["Date"]])
    #month.append(df[["Month"]])
    #year.append(df[["Year"]])
    #col1.append(df[[f"{state} ;  Unemployment rate ;  Persons ;"]])
    #col2.append(df[[f"{state} ;  Unemployment rate ;  > Males ;"]])
    #col3.append(df[[f"{state} ;  Unemployment rate ;  > Females ;"]])
    
    #emp_df = itertools.chain(['date'], ['month'])
    #emp_list = [date, month, year, col1, col2, col3]
    #test = pd.DataFrame(emp_list)
    
    #emp_merged = pd.merge(emp_list)

#test_df = pd.DataFrame(test)
    #test.to_csv(f"../../output_data/clean_filter/{state}.csv")

AttributeError: 'str' object has no attribute 'str'

In [ ]:
# filter data by state australia
df_australia = df[["Date","Month","Year",
             "Australia ;  Unemployment rate ;  Persons ;",
             "Australia ;  Unemployment rate ;  > Males ;",
             "Australia ;  Unemployment rate ;  > Females ;"
          
            ]]
df_cut

In [ ]:
df_australia.to_csv("../../output_data/clean_filter/australia_emp.csv")

In [ ]:
df_nsw = df[["Date","Month","Year",
            "> New South Wales ;  Unemployment rate ;  Persons ;", 
             "> New South Wales ;  Unemployment rate ;  > Males ;", 
             "> New South Wales ;  Unemployment rate ;  > Females ;"
            ]]
df_nsw.to_csv("../../output_data/clean_filter/nsw_emp.csv")
df_nsw

In [ ]:
df_vic = df[["Date","Month","Year",
            "> Victoria ;  Unemployment rate ;  Persons ;", 
             "> Victoria ;  Unemployment rate ;  > Males ;", 
             "> Victoria ;  Unemployment rate ;  > Females ;"
            ]]
df_vic.to_csv("../../output_data/clean_filter/vic_emp.csv")
df_vic

In [ ]:
df_qld = df[["Date","Month","Year",
            "> Queensland ;  Unemployment rate ;  Persons ;", 
             "> Queensland ;  Unemployment rate ;  > Males ;", 
             "> Queensland ;  Unemployment rate ;  > Females ;"
            ]]
df_qld.to_csv("../../output_data/clean_filter/qld_emp.csv")
df_qld

In [ ]:
df_SA = df[["Date","Month","Year",
            "> South Australia ;  Unemployment rate ;  Persons ;", 
             "> South Australia ;  Unemployment rate ;  > Males ;", 
             "> South Australia ;  Unemployment rate ;  > Females ;"
            ]]
df_SA.to_csv("../../output_data/clean_filter/SA_emp.csv")
df_SA

In [ ]:
df_WA = df[["Date","Month","Year",
            "> Western Australia ;  Unemployment rate ;  Persons ;", 
             "> Western Australia ;  Unemployment rate ;  > Males ;", 
             "> Western Australia ;  Unemployment rate ;  > Females ;"
            ]]
df_WA.to_csv("../../output_data/clean_filter/WA_emp.csv")
df_WA

In [ ]:
df_WA = df[["Date","Month","Year",
            "> Western Australia ;  Unemployment rate ;  Persons ;", 
             "> Western Australia ;  Unemployment rate ;  > Males ;", 
             "> Western Australia ;  Unemployment rate ;  > Females ;"
            ]]
df_WA.to_csv("../../output_data/clean_filter/WA_emp.csv")
df_WA

In [ ]:
df_tas = df[["Date","Month","Year",
            "> Tasmania ;  Unemployment rate ;  Persons ;", 
             "> Tasmania ;  Unemployment rate ;  > Males ;", 
             "> Tasmania ;  Unemployment rate ;  > Females ;"
            ]]
df_tas.to_csv("../../output_data/clean_filter/tas_emp.csv")
df_tas

In [ ]:
df_NT = df[["Date","Month","Year",
            "> Northern Territory ;  Unemployment rate ;  Persons ;", 
             "> Northern Territory ;  Unemployment rate ;  > Males ;", 
             "> Northern Territory ;  Unemployment rate ;  > Females ;"
            ]]
df_NT.to_csv("../../output_data/clean_filter/NT_emp.csv")
df_NT

In [ ]:
df_ACT = df[["Date","Month","Year",
            "> Australian Capital Territory ;  Unemployment rate ;  Persons ;", 
             "> Australian Capital Territory ;  Unemployment rate ;  > Males ;", 
             "> Australian Capital Territory ;  Unemployment rate ;  > Females ;"
            ]]
df_ACT.to_csv("../../output_data/clean_filter/ACT_emp.csv")
df_ACT